---
import Pokemon from "../components/Pokemon.jsx";
import PostList from "../components/PostList.jsx";
import MyList from "../components/MyList.jsx";
import Tardis from "../components/Tardis.jsx";
import Hello from "../components/Hello.jsx";
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Quentin's Website";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>AWS re/Start Student</h2>
	<Hello client:only="react" />
	<Tardis client:only="react" />
	<MyList client:only="react" color="red"><b>Blah</b></MyList>
	<PostList></PostList>
	<Pokemon></Pokemon>
</BaseLayout>