---
import Tardis from "../components/Tardis.jsx";
import Hello from "../components/Hello.jsx";
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Quentin's Website";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>AWS re/Start Student</h2>
	<Hello client:only="react" />
	<Tardis client:only="react" />
</BaseLayout>