---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Tools";
---
<BaseLayout>
    <div class="wrapper">
        <h1>URL Shortener</h1>
            <form id="form">
                <input id="link" type="text" placeholder="Enter your link">
                <input type="submit" value="shorten it!">
            </form>
            <h1>Import Document to Pull and Translate Text</h1>
            <form action="/action_page.php">
                <input type="file" id="myFile" name="filename">
                <input type="submit">
            </form>
        <ul id="parent" class="shortLinks">
        </ul>
    </div>
</BaseLayout>